@model IEnumerable<Client>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Clients</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Clients</a>
</p>
<table id="myTable" class="table table-striped">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
            
        <th>
            @Html.DisplayNameFor(model => model.Moto)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
         
            <td>
                <strong>@item.Moto?.Brand</strong><br />
                Model: @item.Moto?.Model<br />
                Year: @item.Moto?.Year<br />
                Plate: @item.Moto?.LicensePlateNumber
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
@section Scripts{
    <script>
            $(document).ready( function () {
                    $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/2.3.1/i18n/pt-PT.json"
            }
        });
     } );
    </script>
}
